<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mic.eis.mapper.PartNumberMapper">

    <resultMap id="BaseResultMap" type="com.mic.eis.domain.model.PartNumber">
        <result column="id" property="id" javaType="Long" jdbcType="BIGINT" />
        <result column="part_number" property="partNumber" javaType="String" jdbcType="VARCHAR" />
        <result column="part_description" property="partDescription" javaType="String" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" javaType="Integer" jdbcType="TINYINT" />
        <result column="create_user" property="createUser" javaType="Long" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser" javaType="Long" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="addBatchPartNum" parameterType="list">
        INSERT INTO
        sys_part_number
        (id, part_number, part_description)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.partNumber},#{item.partDescription})
        </foreach>
    </insert>



</mapper>


